
html,
body {
    margin: 0px;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-image: url("./graphics/background.png");

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    color: whitesmoke;
}

body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}

.title { 
    font-size: 45px;
    margin-top: 20px;
    color: rgb(67, 64, 64);
}

    .title:hover { 
        transform: scale(1.02);
        transform: rotate(.5turn)
    }

.canvas {
    display:flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    row-gap: 0px;
    gap: 0px;
    
    min-width: 435px;
        max-width: 435px;
    min-height: 435px;
        max-height: 435px;
        
    color: rgb(67, 64, 64);
    box-shadow: 1px 0px 16px 7px rgba(0,0,0,0.2);

    border: 10px solid;
    border-image: url('./graphics/frame.jpeg') 100 round;
    background-color: rgba(246, 235, 235, 0.938);
  }

    .gridBox { 
        border: .1px solid rgba(201, 199, 199, 0.191);
        box-sizing: border-box;
    }

.toolbox { 
    margin-bottom: auto;
    min-width: 425px;
    min-height: 80px;
    padding: 0px 20px;
    gap: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background:rgb(42, 43, 42, 0.908);
    border-radius: 10px;
   
}

    #colorSelector { 
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 40px;
    }

        input#colorSelector::-webkit-color-swatch-wrapper {
            padding: 0px;
        }

        input#colorSelector::-webkit-color-swatch { 
            border-radius: 40px;
        }

    #gridSelector {
      -webkit-appearance: none;
      background-color: white;

    }

        .slider { 
           border-radius: 4px;
           height: 9px;
        }

        .slider::-webkit-slider-thumb { 
            -webkit-appearance: none;
            width: 18px;
            height: 18px;
            border-radius: 10px;
            overflow: visible;
            cursor: pointer;
            border: 2px solid black;
            background-color: whitesmoke;
        }

    .g-text { 
        font-size: small;
    }

    .t-buttons { 
        
    }

.footer { 
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    padding: 8px;
        
    background:rgba(42, 43, 42, 0.908);
    border-radius: 10px;
}

/* Basic Formatting N Links */

a { 
    text-decoration: none;
    color: whitesmoke;
}

    a:hover { 
        color: rgb(61, 180, 61);
       
    }

span { 
    margin: 0 10px;
}


button { 
    border: 2px solid black;
    border-radius: 12px;
    height: 40px;
    width: 80px;
   
}

button#b-clear:active,
.btnOn { 
    color: whitesmoke;
    background-color: black;
    border: 2px solid rgba(246, 235, 235, 0.938);
}
